<div class="container">

    <h2>Create Member </h2>
    <form (ngSubmit)=onSubmit() #newMemberForm="ngForm">
       
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required
            [(ngModel)]="member.name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"
             required
             [(ngModel)]="member.email" name="email">
            
        </div>
        <div class="form-group">
            <label for="password"> Password</label>
            <input type="password" class="form-control" 
            id="password" required
            [(ngModel)]="member.password" name="password">

        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <div>
        <div *ngFor="let member of members">
            <h3>{{member.name}}</h3>
        </div>
    </div>
</div>
